<%- include partials/header.ejs %>  

<%- include partials/main_nav.ejs %>
  
  <!-- Section: Main Content -->
  <div class="container">
    <div class="about-container">
      <h1>About Me</h1>
      <div class="profile-container">
        <img src="/Assets/images/profile.jpg" alt="Profile Picture" class="profile-img">
      </div>
      <div class="info-container">
        <h2>My name is Adinlewa Tawakalitu Eunice</h2>
        <h4>I am a passionate web developer with a strong focus on front-end development. I have extensive experience in building responsive and user-friendly websites using HTML, CSS, and JavaScript.
             My goal is to create visually appealing and functional web applications that provide a great user experience.
             I am a creative and dedicated web developer with a passion for crafting beautiful and functional website</h4>
             <a href="/resume/resume.pdf" target="_blank" class="resume-link">Download Resume (PDF)</a>
      </div>
    </div>
  </div>

  <%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>













