<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
<div class="jumbotron">

    <header id="home">
        <div class="container-fluid header-content"></div>
    <div class="logo-container">
      
      <img src="/Assets/images/logo.png" alt="Logo" class="logo-img">
      
      <h1>Welcome to My Home Page</h1>
      <h2>Thank you for visiting our website. We aim to provide high-quality services to our clients.</h2>
      <br>
      <h3>Explore more about us and our projects.</h3> <br>

      <h2><strong>Mission Statement</strong></h2>

      <h4>Our mission is to deliver innovative solutions and exceed client expectations through our expertise and dedication.</h4>
      <!--<a class="btn btn-primary" href="/about">About Me</a>-->
    </div>
</header>
  </div>
</main>




<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>

