<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Section: Main Content -->
  <div class="container">
    <h1>Our Products</h1>

    <div class="row">
      <!-- Product 1 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/Assets/images/product1.jpg" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Food Delivery App</h5>
            <p class="card-text"> Developed a mobile app for a food delivery service. As part of the development team, you implemented features such as user
                 registration, order placement, real-time tracking, and payment integration. 
                 The app resulted in increased efficiency for the food delivery service and improved customer satisfaction.</p>
          </div>
        </div>
      </div>

      <!-- Product 2 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/Assets/images/product2.jpg" class="card-img-top" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Booking Application</h5>
            <p class="card-text"> Designed and developed a responsive website for a travel agency. As the sole designer and developer, 
                I created an immersive user experience by showcasing stunning travel destinations, providing easy booking functionality, 
                and integrating social sharing features. 
                The website contributed to increased website traffic and higher conversion rates for the travel agency.</p>
          </div>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/Assets/images/product3.jpg" class="card-img-top" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Cooking Blog Website</h5>
            <p class="card-text">Created a user-friendly cooking blog website using a content management system (CMS) to enable food enthusiasts to share recipes, cooking tips,
                 and culinary experiences effortlessly. The Cooking Blog Website provided a platform for passionate cooks to connect, inspire, 
                 and exchange culinary ideas, fostering a vibrant community and encouraging culinary creativity.</p>
          </div>
        </div>
      </div>

      <%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>

