<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
<!-- Section: Main Content -->
  <div class="container">
    <h1>Our Services</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="service">
          <img src="/Assets/images/service1.jpg" alt="Service 1" class="service-img">
          <div class="service-info">
            <h2>Web Development</h2>
            <p>We offer professional web development services tailored to your business needs.
                 Our expert team of developers will create responsive and user-friendly websites that showcase your brand and engage your target audience.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <img src="/Assets/images/service2.jpg" alt="Service 2" class="service-img">
          <div class="service-info">
            <h2>Mobile App Development</h2>
            <p>Elevate your business with a customized mobile app that delivers exceptional user experiences.
                 Our mobile app development services cover everything from ideation and design to development and deployment across iOS and Android platforms.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <img src="/Assets/images/service3.jpg" alt="Service 3" class="service-img">
          <div class="service-info">
            <h2>UI/UX Design</h2>
            <p>Create visually stunning and intuitive user interfaces with our UI/UX design services. 
                Our team of designers will collaborate with you to understand your target audience and design goals.</p>
          </div>
          <%- include partials/bottom_nav.ejs %>  

          <%- include partials/footer.ejs %>

         